:root {
  --red: 100;
  --green: 100;
  --blue: 100;
  --alpha: 0.6;
  --color: var(--red), var(--green), var(--blue);
  --width: 24%;
  --height: 200px;
  --oneHundred: 100%;
}
h1 {
  display: flex;
  justify-content: center;
}
span {
  background-color: rgba(255,255,255,0.5);
  display: flex;
  width: var(--oneHundred);
  justify-content: center;
}
.container {
  display: flex;
  justify-content: space-between;
}
.container.mixed {
  width: var(--oneHundred);
  margin-top: 10px;
}
.color-box {
  width: var(--width);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: var(--height);
  width: calc(var(--oneHundred) - 5px);
  border: 1px solid black;
}
.red {
  background-color: rgb(var(--red),0,0);
}
.green {
  background-color: rgb(0,var(--green),0);
}
.blue {
  background-color: rgb(0,0,var(--blue));
}
.alpha {
  background-color: rgba(0,0,0,var(--alpha));
}
.color-box.mixed {
  width: var(--oneHundred);
}
.box.mixed {
  background-color: rgba(var(--color), var(--alpha));
  width: var(--oneHundred);
}
input[type="range"] {
  width: calc(var(--oneHundred) - 5px);
  cursor: ew-resize;
}